<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width=devide=width, initial-scale=1.0">
    <title>Media To Watch</title>
    <style>

    </style>
</head>

<body>

    <div class="container">
        <h1>Enrolling the Medias to Watch</h1>

        <form method="POST" action="{{url_for('index')}}">

            <div>
                <label for="nameOfMedia">Name: </label>
                <input type="text" id="nameOfMedia" name="nameOfMedia" required>
            </div>

            <div>
                <label for="typeOfMedia">Type (movie, video, series...): </label>
                <input type="text" id="typeOfMedia" name="typeOfMedia" required>
            </div>

            <div>
                <label for="genre">Genre: </label>
                <input type="text" id="genre" name="genre">
            </div>

            <div>
                <label for="year">Year: </label>
                <input type="number" id="year" name="year">
            </div>

            <div>
                <label for="seasons">Seasons: </label>
                <input type="text" id="seasons" name="seasons">
            </div>

            <div>
                <label for="concluded">Is the media concluded? </label>
                <input type="checkbox" id="concluded" name="concluded" required>
            </div>

            <div>
                <label for="whereToWatch">Where is the media available? </label>
                <input type="text" id="whereToWatch name="whereToWatch" required>
            </div>
            
            <div>
                <label for="wasWatched">Did you already watch this media?  </label>
                <input type="checkbox" id="wasWatched" name="wasWatched" required>
            </div>

            <div>
                <label for="sinopse">Sinopse: </label>
                <textarea id="sinopse" name="sinopse" ></textarea>
            </div>

            <button type="submit">Add Media</button>
        </form>

        <hr>

        <h2>Medias Enrolled</h2>

        {% if medias %}
        <table>

            <thead>
                <tr>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Genre</th>
                    <th>Year</th>
                    <th>Seasons</th>
                    <th>Concluded</th>
                    <th>Watch on</th>
                    <th>Already Watched</th>
                    <th>Sinopse</th>
                </tr>
            </thead>

            <tbody>

                {% for media in medias %}

                <tr>
                    <td>{{media.nameOfMedia}}</td>
                    <td>{{media.typeOfMedia}}</td>
                    <td>{{media.genre}}</td>
                    <td>{{media.year}}</td>
                    <td>{{media.seasons}}</td>
                    <td>{{media.concluded}}</td>
                    <td>{{media.whereToWatch}}</td>
                    <td>{{media.wasWatched}}</td>
                    <td>{{media.sinopse}}</td>
                    <td>
                        <a href="{{ url_for('deleteItem', id=media.id)}}" class="delete-btn">Delete</a>
                    </td>
                </tr>

                {% endfor %}

            </tbody>

        </table>

        {% else %}
        <p>There is no media registered yet</p>
        {% endif %}

    </div>
</body>
</html>