<!DOCTYPE html>
<html lang="en">
	
    <head>
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>What to Watch</title>
		
		<script src="https://cdn.tailwindcss.com"></script>
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		
		<style>
			
			@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
			
			body {
				font-family: 'Inter', sans-serif;
				background-color: #f7fafc;
			}
			
			.container-wrapper {
				min-height: 100vh;
			}
			
			.list-move,
			.list-enter-active, 
			.list-leave-active{
				transition: all 0.5s ease;
			}
			.list-enter-from, 
			.list-leave-to{
				opacity: 0;
				transform: translateY(-10px);
			}
			.list-leave-active{
				position: absolute;
			}
			
		</style>
	</head>
    <body>
        <div>
            <h1>Hi!</h1>
            <p>Welcome to <span th:text="${appName}"></span></p>
            <p>This template contains:</p>
            <ul>
                <li><a href="https://projects.spring.io/spring-boot/">Spring boot</a></li>
                <li>An example of <a href="https://docs.spring.io/spring/docs/current/spring-framework-reference/web.html">Spring MVC</a> (model/view/controller)</li>
                <li><a href="http://www.thymeleaf.org/">Thymeleaf</a> integration for the views</li>
                <li>Persistence <a href="https://projects.spring.io/spring-data-jpa/">Spring data jpa</a></li>
                <li>Spring boot <a href="https://docs.spring.io/spring-boot/docs/current/reference/html/using-boot-devtools.html">devtools</a> to make development easier</li>
            </ul>
        </div>
    </body>
</html>